
p {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.new-question-button-div {
    margin-bottom: 5px;
}

.new-question-button {
    font-family: Nunito, Arial;
}

.input-div {
    font-family: Nunito, Arial;
    margin-bottom: 10px;
}

.question-heading-div {
    margin-bottom: 2px;
}

.question-entry-div {
    margin-bottom: 5px;
}

.question-textbox {
    width: 500px;
    font-family: Nunito, Arial;
}

.answer-entry-div {
    margin-bottom: 3px;
}

.answer-textbox {
    font-family: Nunito, Arial;
    width: 400px;
}

.generate-button-div {
    margin-bottom: 10px;
}

.generate-button {
    font-family: Nunito, Arial;
}

.printed-test-div {
    
}

.printed-question-and-answer {
    font-family: Nunito, Arial;
    margin-top: 10px;
    margin-bottom: 10px;
}

.printed-answer {
    margin-left: 5px;
}

.show-answer-key-button {
    font-family: Nunito, Arial;
}

.answer-key-div {
    font-family: Nunito, Arial;
}