
p {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.new-question-button-div {
    margin-bottom: 5px;
}

.input-div {
    margin-bottom: 10px;
}

.question-heading-div {
    margin-bottom: 2px;
}

.question-entry-div {
    margin-bottom: 5px;
}

.question-textbox {
    width: 500px;
}

.answer-entry-div {
    margin-bottom: 3px;
}

.answer-textbox {
    width: 400px;
}

.printed-test-div {
    background-color: lightgray;
}

.printed-question-and-answer {
    margin-top: 10px;
    margin-bottom: 10px;
}

.printed-answer {
    margin-left: 5px;
}